---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
.masthead {
  background: #000484;
}
.greedy-nav {
  background: unset;
  color: #ffffff
}
.masthead__inner-wrap {
  margin-left: 0
}


